{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static "bootstrap-3.3.6-dist/css/bootstrap.min.css" %}" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
</head>
<body>
<div class="col-md-6">
	<h1>User</h1>
	<button class="btn" id="clk">Click me!</button>
	<button class="btn" id="plot">Plot</button>
	<div id="cont1"></div>
	<div id="ag1"></div>
	<div id="cont2"></div>
	<div id="ag2"></div>
	<div id="cont3"></div>
	<div id="ag3"></div>
	<div id="cont4"></div>
	<div id="ag4"></div>
	<div id="cont5"></div>
	<div id="ag5"></div>
	<div id="cont6"></div>
	<div id="ag6"></div>
	<div id="cont7"></div>
	<div id="ag7"></div>
	<div id="cont8"></div>
	<div id="ag8"></div>
	<div id="cont9"></div>
	<div id="ag9"></div>
	<div id="cont10"></div>
	<div id="ag10"></div>
	<div id="cont11"></div>
	<div id="ag11"></div>
	<div id="cont12"></div>
	<div id="ag12"></div>
	<div id="cont13"></div>
	<div id="ag13"></div>
	<div id="cont14"></div>
	<div id="ag14"></div>
	<div id="cont15"></div>
	<div id="ag15"></div>
</div>

<div class="col-md-6">
	<h1>Opponent</h1>
	<button class="btn" id="clk_opp">Click me!</button>
	<button class="btn" id="plot_opp">Plot</button>
	<div id="contopp1"></div>
	<div id="agopp1"></div>
	<div id="contopp2"></div>
	<div id="agopp2"></div>
	<div id="contopp3"></div>
	<div id="agopp3"></div>
	<div id="contopp4"></div>
	<div id="agopp4"></div>
	<div id="contopp5"></div>
	<div id="agopp5"></div>
	<div id="contopp6"></div>
	<div id="agopp6"></div>
	<div id="contopp7"></div>
	<div id="agopp7"></div>
	<div id="contopp8"></div>
	<div id="agopp8"></div>
	<div id="contopp9"></div>
	<div id="agopp9"></div>
	<div id="contopp10"></div>
	<div id="agopp10"></div>
	<div id="contopp11"></div>
	<div id="agopp11"></div>
	<div id="contopp12"></div>
	<div id="agopp12"></div>
	<div id="contopp13"></div>
	<div id="agopp13"></div>
	<div id="contopp14"></div>
	<div id="agopp14"></div>
	<div id="contopp15"></div>
	<div id="agopp15"></div>
</div>
</body>




</html>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<script>
var dat;

$("#clk").click(function() {
	dataString = 'user_id={{user_id}}';

	$.ajax({
                    type: "POST",
                    url: "graph_back",
                    data: dataString,
                    success: function(data){
                        if(data)
                        {
                        	dat = data;
                        }

                    }

                });
});

$('#plot').click(function() {
	ret_det = dat.data.history;
	
	i=1;
	for(req1 in ret_det)
	{
		$("#cont"+i).html('Retailer' + i);
		$('#ag'+i).empty()
		req = dat.data.history[i];

		Morris.Line({
		  element: 'ag'+i,
		  data: req,
		  parseTime: false,
		  xkey: 'turn',
		  xLabels: 'Turn',
		  ykeys: ['supply', 'demand'],
		  labels: ['Supply', 'Demand']
		});
		i++;
	}

});
var dat_opp;
$("#clk_opp").click(function() {
	dataString = 'user_id={{user_id}}';

	$.ajax({
                    type: "POST",
                    url: "graph_opp_back",
                    data: dataString,
                    success: function(data){
                        if(data)
                        {
                        	dat_opp = data;
                        	console.log(dat_opp)
                        }

                    }

                });
});

$('#plot_opp').click(function() {
	ret_det = dat_opp.data.history;
	console.log(dat_opp);
	i=1;
	for(req1 in ret_det)
	{
		$("#contopp"+i).html('Retailer' + i);
		$('#agopp'+i).empty()
		req = dat_opp.data.history[i];

		Morris.Line({
		  element: 'agopp'+i,
		  data: req,
		  parseTime: false,
		  xkey: 'turn',
		  xLabels: 'Turn',
		  ykeys: ['supply', 'demand'],
		  labels: ['Supply', 'Demand']
		});
		i++;
	}

});
/*
Morris.Area({
  element: 'ag',
  data: [
    { y: '1', a: 100, b: 90 },
    { y: '2007', a: 75,  b: 65 },
    { y: '2008', a: 50,  b: 40 },
    { y: '2009', a: 75,  b: 65 },
    { y: '2010', a: 50,  b: 40 },
    { y: '2011', a: 75,  b: 65 },
    { y: '2012', a: 100, b: 90 }
  ],
  xkey: 'y',
  ykeys: ['a', 'b'],
  labels: ['Series A', 'Series B']
});
*/

</script>