{% load staticfiles %}
<html ng-app="store">
<title>The Beer Factory</title>
<head> 
	<script type="text/javascript" src="{% static "angular/angular.min.js" %}"> </script>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap-3.3.6-dist/css/bootstrap.min.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/left.css" %}" />

</head>

<!-- LEFTTTT -->

<div id="left_half">
<div id="main">
	<div id="f1" class="f" onmouseover="fact1()" onmouseout="unfact1()"> </div> 
				<div id="i1" class="i">
					insert details about factory one
				<!-- insert details about factory one -->

				</div>
	<div id="f2" class="f" onmouseover="fact2()" onmouseout="unfact2()"> </div> 
				<div id="i2" class="i">
					insert details about factory two
					<!-- insert details about factory two -->
				 </div>
	<div id="r1" class="r"> </div> 
	<div id="r2" class="r"> </div> 
	<div id="r3" class="r"> </div> 
</div>
</div>
<script>
var i1 = document.getElementById("i1");
var f1 = document.getElementById("f1");
function fact1()
{
	i1.style.display="inline-block";

	
}
function unfact1()
{
	i1.style.display="none";
	
}
function fact2()
{
	i2.style.display="inline-block";
	
}
function unfact2()
{
	i2.style.display="none";
	
}
var id = "{{request.session.user_id}}";
console.log('user id is', id);

var url = "{% url 'fac_details' %}";
console.log('url is', url);

</script>

<div id="right_half" ng-controller="storec as store">
<div class="container">
	<ul class="list-group">
		<li ng-repeat="product in store.products" > 
				<section ng-controller="panelp as panel">
		<ul class="nav nav-pills">
			<li ng-class="{active:panel.istab(1)}"> <a href ng-click="panel.settab(1)"> Orders </a> </li>
			<li ng-class="{active:panel.istab(2)}"> <a href ng-click="panel.settab(2)"> Inventory </a> </li>
			<li ng-class="{active:panel.istab(3)}"> <a href ng-click="panel.settab(3)"> Backlog </a> </li>
			<li ng-class="{active:panel.istab(4)}"> <a href ng-click="panel.settab(4)"> BUY NOW! </a> </li>
		</ul>
		<div class="panel" ng-show="panel.istab(1)">
			<table class="table table-bordered table-striped"> <thead>
				<tr> 
					<th class="col-md-1"> RETAILER </th>
					<th class="col-md-1"> ORDER <br> AMOUNT </th>
					<th class="col-md-1"> AMOUNT TO <br> DELIVER </th>
					<th class="col-md-1"> TRANSPORT <br> MODE </th>
					<th class="col-md-1" >  </th>

 				</tr>
 				</thead>
 				<tbody>
 				<tr ng-repeat="order in product.orders">
 					<td class="col-md-1"> {$order.from$}</td>
 					<td class="col-md-1"> {$order.order_no$}</td>
 					<td class="col-md-1"> <input type="number" value="{$order.to_no$}" class="col-sm-12">  </input></td>
 					<td class="col-md-1"> <input type="text" value="{$order.transport$}" class="col-sm-12">  </input></td>
 					<td class="col-md-1"> <input type="submit" value="Send!" class="col-sm-12"/> </td>
 				</tr>
 				</tbody>
 			</table>


		</div>
		<div class="panel" ng-show="panel.istab(2)">
			<table class="table table-bordered table-striped"> <thead>
				<tr> 
					<th > DAY </th>
					<th > PRODUCED <br> AMOUNT </th>
					<th> AMOUNT<br> SOLD </th>
					<th > INVENTORY </th>
 				</tr>
 				</thead>
 				<tbody>
 				<tr ng-repeat="inv in product.inventory">
 					<td > {$inv.day$}</td>
 					<td > {$inv.no_produced$}</td>
 					<td> {$inv.no_sold$}</td>
 					<td > {$inv.no_inv$}</td>
 				</tr>
 				</tbody>
 			</table>
		</div>
		<div class="panel" ng-show="panel.istab(3)">
			<table class="table table-bordered table-striped"> <thead>
				<tr > 
					<th> DAY </th>
					<th> PRODUCED<br> AMOUNT </th>
					<th> AMOUNT<br> ORDERED </th>
					<th> AMOUNT <br>SENT </th>
					<th> BACKLOG <br>AMOUNT </th>
 				</tr>
 				</thead>
 				<tbody>
 				<tr ng-repeat="backlog in product.backlog">
 					<td> {$backlog.day$}</td>
 					<td> {$backlog.no_produced$}</td>
 					<td> {$backlog.no_ord$}</td>
 					<td> {$backlog.no_to$}</td>
 					<td> {$backlog.no_back$}</td>
 				</tr>
 				</tbody>
 			</table>
		</div>
		<div class="panel" ng-show="panel.istab(4)">
		</div>
	</section>
		</li>
	</ul>
	
</div>
</div>
	<script type="text/javascript" src="{% static "app.js" %}"> </script>
	
</html>
