{% load staticfiles %}
<html ng-app="store">
<title>The Beer Factory</title>

<head> 
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap-3.3.6-dist/css/bootstrap.min.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/left.css" %}" />

    <style>
	.panel-yellow {
		border-color: #f1c40f;
	}

	.panel-yellow > .panel-heading {
		 background: #f1c40f;
	}

	.btn-yellow {
		 background: #f1c40f;
	}
	
	.box
	{
		margin-top:15%;
	}

	@media only screen and (min-width : 1200px)
	{
		.box
		{
			margin-top:15%;
		}
	}
</style>
</head>

<body>

<div>
	<nav class="navbar navbar-default navbar-fixed-top nav-container">
	  	<div class="container-fluid"   ng-repeat="product in store.products">
	   		<div class="navbar-header col-md-3">
	   		  <a class="navbar-brand" href="#">BEER-FACTORY</a>
	   		</div>
	    		
	   		<ul class="top-info col-md-9">
	   		  <li class="col-md-2"></li>
	   		  <li class="col-md-2"></li>
			  <li class="col-md-2"></li>
			  <li class="col-md-2"></li>
			  <li class="col-md-2"></li>	
	   		</ul>
		</div>
	</nav>
	<div class="container">
	<div class="box text-center">
	<h1>BEER FACTORY</h1>
	<h4>Register at <a href="http://prgy.in/beerf">prgy.in/beerf</a></h4><br>
	<h3>The event starts 6pm on 19th Feb 2016</h3><br>
	<br>

	<h4>See you then!!!</h4>
	</div>
	</div>
</div>
<footer class="footer">
Made with &hearts; by Delta Force
</footer>
</body>
</body>
</html>
