{% load staticfiles %}
<html>
<head>
<title>Login - Beer Factory</title>
<link rel="stylesheet" type="text/css" href="{% static "bootstrap-3.3.6-dist/css/bootstrap.min.css" %}" />
<style>
	.panel-yellow {
		border-color: #f1c40f;
	}

	.panel-yellow > .panel-heading {
		 background: #f1c40f;
	}

	.btn-yellow {
		 background: #f1c40f;
	}
	body
	{
		background: #ffffff url("{% static "images/beer-bg.jpg" %}") no-repeat right top;
	}
	.box
	{
		margin-top:10%;
	}

	@media only screen and (min-width : 1200px)
	{
		.box
		{
			margin-top:20%;
		}
	}
</style>
</head>
<body>
<center>
	<div class="container">
	<div class="box col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
		<div class="panel panel-yellow">
	        <div class="panel-heading">
	            <h3 class="panel-title"></i>Login</h3>
	        </div>
	        <div class="panel-body">
				<form role="form" class="form-horizontal" action="/" method="post">
					<div>
						<span><b>{{error}}</b></span><br>
						{% csrf_token %}
						<div class="form-group">
				            <label for="name" class="col-lg-2 control-label">Email</label>
				            <div class="col-lg-10">
				                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
				            </div>
				        </div>
					<input class="btn btn-yellow" type="submit" value="Submit">
				</form>
				<div>
				<a href="register">Click to Register</a>
				</div>
			</div>
		</div>
	</div>
	</div>
<center>
</body>
</html>
