{% load staticfiles %}
<html ng-app="store">
<title>The Beer Factory</title>

<head> 
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap-3.3.6-dist/css/bootstrap.min.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/left.css" %}" />

    <style>
	.panel-yellow {
		border-color: #f1c40f;
	}

	.panel-yellow > .panel-heading {
		 background: #f1c40f;
	}

	.btn-yellow {
		 background: #f1c40f;
	}
	
	.box
	{
		margin-top:15%;
	}
	.content
	{
		margin-top:5%;
	}
	@media only screen and (min-width : 1200px)
	{
		.box
		{
			margin-top:15%;
		}
	}
</style>
</head>

<body>

<div>
	<nav class="navbar navbar-default navbar-fixed-top nav-container">
	  	<div class="container-fluid"   ng-repeat="product in store.products">
	   		<div class="navbar-header col-md-3">
	   		  <a class="navbar-brand" href="#">BEER-FACTORY</a>
	   		</div>
	    		
	   		<ul class="top-info col-md-9">
	   		  <li class="col-md-2"></li>
	   		  <li class="col-md-2"></li>
			  <li class="col-md-2"></li>
			  <li class="col-md-2"></li>
			  <li class="col-md-2">Hi {{ name }}</li>	
	   		</ul>
		</div>
	</nav>
	<div class="container">
	<div class="box">
	<div class="row text-center">
		<h1>Thank you for playing Beer Factory!</h1><br>
		Here are some stats for you...
	</div>
	<div class="row content">
	You can view graph of your demand and supply at <a href="https://beerfactory.pragyan.org/graph">beerfactory.pragyan.org/graph</a><br>
	Check out leaderboard at <a href="https://beerfactory.pragyan.org/leaderboard">beerfactory.pragyan.org/leaderboard</a>
	</div>
	<div class="col-md-5">
	<div><h3>Your scores for various days were</h3></div>
	<table class="table table-bordered table-striped">
	<thead>
		<td>Day</td>
		<td>Score</td>
	</thead>
	<tbody>

	{% for score in scores %}
	<tr>
		<td>
		{% if score.turn == 26 %}
			Opponent bonus
		{% else %}
			{{ score.turn }}
		{% endif %}
		
		</td>
		<td>{{ score.score }}</td>

	</tr>
	{% endfor %}
	<tr>
		<td>Total score</td>
		<td>{{ total_score }}</td>
	</td>
	</tbody>
	</table>

	</div>
	<div class="col-md-2">
	</div>
	<div class="col-md-5">
	<h3>Feed us back!</h3>
	<div>
	<textarea class="form-control" placeholder="Write your review..." rows="5"></textarea>
	</div>
	<br>
	<div>
	<button class="btn btn-primary" type="submit">Submit</button>
	</div>
	</div>
	</div>
	</div>
	</div>
</div>

</body>
</body>
</html>
