.nav-container{
	background-color: #252326;
	color: #C3A96A;
	font-family: Roboto;
}
.mapster_tooltip{
	color:black;
}
.top-info{
	position: relative;
	top: 1.5rem;
	display: inline;
}

.top-info li{
	float: left;
}
#progressbartop{
	position: absolute;
	top:5rem;
}
#main-content{
	position: absolute;
	top:7.2rem;
	width: 100%;
}
#map_left
{
	position:absolute;
	left:5%;
	width:30%;
	height:100%;
}
#right_half
{
	position:fixed;
	left:40%;
	width:50%;
	height: 90%;
	border: 1px solid black;
	overflow-y: auto;
	font-size: 1.5rem;
	line-height: 3.5rem;

}
.btn.btn-default{
	font-size: 1.5rem;
	line-height: 3.5rem;
	margin-top: 1rem;
}
input{
	padding: 0.5rem;
}
#demandtabs>li{
	width: 50%;
}
#historytab>table{
	margin-left:5%; 
	width: 90%;
	font-size: 1.5rem;
	line-height: 3.5rem;
}
#selections{
	border: 1px solid black;
	height: 60%;
	position: relative;
	left: 2.5%;
	top:2%;
	width: 95%;
	padding: 1rem;
	overflow: auto;
}
#cashinfo{
	border: 1px solid black;
	position: relative;
	left: 2.5%;
	top:5%;
	height: 20%;
	width: 95%;
	padding: 1rem;
	overflow: auto;
}
#getdemand{
	position: relative;
	left: 2.5%;
	width: 20%;
	font-size: 1.5rem;
}
.container{
    width: 70%;
}
#demandpopup{
    display: none;
    width: 70%;
    position: absolute;
    left:15%;
    top:10%;
    box-shadow: 0 0 2.5rem -0.5rem  black;
    text-align: center;
    font-size: 1.5rem;
    z-index: 100;
}
#demandpopup table th{
	text-align: center;
}
#demandpopup table td{
	text-align: center;
}

#send{
    margin: 1rem;
}
#ordertabs li{
	width: 50%;
}
#ordertab{
	padding: 1rem;
	border: 1px solid black;
	width: 95%;
	margin: 1% 0 0 2.5%;
}
#ordertab table{
	font-size: 1.5rem;
	line-height: 4.5rem;
}
#ordertab td{
	width: 62%;
}
.home-tables{
	background-color: #fff;
	color: black;
}
.home-tables input{
	background-color: #fff;
	color: black;
}

#main
{
	background-color: green;
	width:100%;
	height:100%;

}

.f,.i
{
	/*background-color: yellow;*/
	width:5%;
	height:30%;

}
#i1
{
	display: none;
	background: yellow;
	position: absolute;
	left:7%;
	width:15%;
	top:50%;
	margin-bottom: -15%;
}
#i2
{
	display: none;
	background: yellow;
	position: absolute;
	right:7%;
	width:15%;
	bottom:50%;
	margin-top: -15%;
}
#f1
{
	background-image: url("/static/left.jpg");
	background-size: 100% 100%;
	position: absolute;
	left:0%;
	top:50%;
	margin-bottom: -15%;

}
#f2
{
	background-image: url("/static/right.jpg");
	background-size: 100% 100%;
	background-color: blue;
	position: absolute;
	right:0%;
	bottom:50%;
	margin-top: -15%;

}

.r
{
	background-image: url("/static/beer.jpeg");
	background-size: 100% 100%;
	position: absolute;
	width:10%;
	height:10%;
	left:50%;
	margin-left: -5%;
}
#r1
{
	top:0%;
}
#r2
{
	position: absolute;
	top:50%;
	margin-top:-2.5%;
}
#r3
{
	bottom:0%;
}