/*body{
	background-color: #252326;
}*/
.nav-container{
	background-color: #252326;
	color: #C3A96A;
	font-family: Roboto;
}
.top-info{
	position: relative;
	top: 1.5rem;
	display: inline;
}

.top-info li{
	float: left;
}
#main-content{
	position: absolute;
	top:5.5rem;
	width: 100%;
}
#map_left
{
	position:absolute;
	left:5%;
	width:30%;
	height:100%;
}
#right_half
{
	position:fixed;
	left:40%;
	width:50%;
	overflow: hidden;
	
}
.home-tables{
	background-color: #c3a96a;
	color: #252326;
}
.home-tables input{
	background-color: #252326;
	color: #c3a96a;
}

#main
{
	background-color: green;
	width:100%;
	height:100%;

}

.f,.i
{
	/*background-color: yellow;*/
	width:5%;
	height:30%;

}
#i1
{
	display: none;
	background: yellow;
	position: absolute;
	left:7%;
	width:15%;
	top:50%;
	margin-bottom: -15%;
}
#i2
{
	display: none;
	background: yellow;
	position: absolute;
	right:7%;
	width:15%;
	bottom:50%;
	margin-top: -15%;
}
#f1
{
	background-image: url("/static/left.jpg");
	background-size: 100% 100%;
	position: absolute;
	left:0%;
	top:50%;
	margin-bottom: -15%;

}
#f2
{
	background-image: url("/static/right.jpg");
	background-size: 100% 100%;
	background-color: blue;
	position: absolute;
	right:0%;
	bottom:50%;
	margin-top: -15%;

}

.r
{
	background-image: url("/static/beer.jpeg");
	background-size: 100% 100%;
	position: absolute;
	width:10%;
	height:10%;
	left:50%;
	margin-left: -5%;
}
#r1
{
	top:0%;
}
#r2
{
	position: absolute;
	top:50%;
	margin-top:-2.5%;
}
#r3
{
	bottom:0%;
}
